body {
	margin: 0;
	background-color: #bbbbbb;
}

normal-body {
	background-color: #FFF;
}

header {
	padding: 60px;
	text-align: center;
	background: #1abc9c;
	color: #f0f0f0;
	font-size: 30px;
}

header h1 a {
	color: #f0f0f0 ;
}

#mainContent {
	padding: 20px;
	margin: 20px;
	background-color: #f0f0f0;
	border: 0.5px;
	border-style: solid;
	border-color: #555555;
	width: 90%;
	float: left;
	min-height: 80vh;
	height: 100%;
	margin-left: 5%;
	box-sizing: border-box;
}

#mainContent img {
	width: 60%;
	margin-left: 20%;
}

#pusher {
	min-height: calc(100vh - 50px);
}

footer {
	padding: 15px;
	text-align: right;
	background: #333333;
	color: #f0f0f0;
	font-size: 15px;
	height: 50px;
	clear: both;
}

footer a {
	color: #f0f0f0;
}

